###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################

Faker

jupyterlab

redis

# jupyter/jupyterlab extensions
jupyter-server-proxy
jupyter-vscode-proxy

# lab-related packages

mariadb_kernel
mariadb
sqlalchemy
ipython-sql
jupyterlab_sql
mysqlclient

# mongodb
pymongo
imongo-kernel
pprintpp

numpy
pandas
