###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################

Faker

jupyterlab

redis

# jupyter/jupyterlab extensions
jupyter-server-proxy
jupyter-vscode-proxy

# lab-related packages

sqlalchemy
ipython-sql
jupyterlab_sql
mysqlclient
#mariadb
#mariadb_kernel

# mongodb
pymongo
imongo-kernel
pprintpp

numpy
pandas

setuptools
python-ldap
mysql-connector-python
