###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################

Faker

jupyterlab

redis

# jupyter/jupyterlab extensions
jupyter-server-proxy
jupyter-vscode-proxy

# lab-related packages

#mariadb
mariadb_kernel
sqlalchemy
ipython-sql
jupyterlab_sql
mysqlclient

# mongodb
pymongo
imongo-kernel
pprintpp

numpy
pandas

#setuptools
#python-ldap
mysql-connector-python
